POSTGRES_USER=booking_user
POSTGRES_PASSWORD=booking_pass
POSTGRES_DB=booking_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

REDIS_HOST=localhost
REDIS_PORT=6379

SECRET_KEY=your_super_secret_key_change_in_production_1234567890
ALGORITHM=HS256
